<section class="section single-item">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h6>Home / Matt Hamiliton Collection / {{pacificshop.name}}</h6>
      </div>
      <div class="column is-2">
        <div class="columns is-multiline single-item__sideitems">
          <div class="column is-12">
            <img src="{{pacificshop.image1}}" alt="">
          </div>
          <div class="column is-12">
            <img src="{{pacificshop.image2}}" alt="">
          </div>
        </div>
      </div>
      <div class="column is-6 single-item__featureditem">
        <img src="{{pacificshop.image3}}" alt="">
      </div>
      <div class="column is-4">
        <h3>{{pacificshop.name}}</h3>
        <div class="columns is-multiline single-item__cart-form">
          <div class="column is-12">
            <select class="single-item--garment" name="">
              <option value="">Garment Style</option>
            </select>
          </div>
          <div class="column is-12">
            <select class="single-item--color" name="">
              <option value="">Color</option>
            </select>
          </div>
          <div class="column is-12">
            <select class="" name="">
              <option value="">Size</option>
            </select>
          </div>
          <div class="column is-12">
            <span>Quantity</span> <span>1</span>
          </div>
          <div class="column is-12">
            <p>The product depicted here is a representation of the approximate artwork size in relationship to the garment. Note that variation may exist per the nature of printing and across sizing. 2XL - 4XL will see slightly higher price - add to bag for details.</p>
            <p><a href="#">Size Chart</a></p>
          </div>
          <div class="column is-12">
            <button class="button single-item--cart">ADD TO BAG</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
